---
---

@import "{{ site.theme }}";

.inner {
    max-width: 75% !important;
    width: 75% !important;
}

.hidden-title {
  display: none;
}

#hamburgerMenu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  transform: none;
}

 #menuToggle {
  background: #333;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
  font-size: larger;
}

#menuLabel {
  margin-top: 5px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
}

 #menuLinks {
  display: none;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}
 
#menuLinks a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background: #333;
}

#menuLinks a:hover {
  background-color:rgb(90, 91, 97);
  transition: transform 0.3s ease;
  transform: scale(1.1);
}